
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../Fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../Fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../Fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'TitilliumWeb-SemiBold';
    src: url('../Fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../Fonts/OpenSans-Light.ttf') format('truetype');
}
.container{
    width: 1920px;
    height: 800px;
    background: url('../Img/Rectangle2.png');
    background-repeat: no-repeat;
    margin: auto;
}
.header{
    height: 80px;
    background: rgba(0, 91, 193, 0.6);
    display: flex;
}
.logo__text{
    font-size: 24px;
    font-family:'TitilliumWeb-SemiBold';
    width: 75px;
    margin-left: 7px;
}
.logo{
    width: 140px;
    display: flex;
    margin-left: 40px;
    padding-top: 5px;
}
.menu{
    margin-left:555px;
    margin-top: 30px;
}
.menu__text{
    font-family:'OpenSans-SemiBold'; 
    font-size: 14px;
    display: flex; 

}
.textMenu{
    margin-left:28px;
}
.contentСentre{
    display: flex;
}
.block{
    background-color: rgba(0, 91, 193, 0.6);
    width: 444px;
    height: 720px;
    margin-left: 405px;
}
.content{
    margin-top: 200px;
    margin-left: -190px;
}
.content__title{
    font-family: 'Oswald-Regular';
    font-size: 48px;
    width: 600px;
    margin-bottom: 40px;
}
.content__subtitle{
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    width: 445px;
    margin-bottom: 40px;
}
.button{
    width: 160px;
    height: 50px;
    border: 2px solid white;
}
.buttonText{
    font-family:'OpenSans-SemiBold';
    font-size: 16px;
    text-align: center;
    padding-top: 13px;
}

.slider{
    width: 1110px;
    margin-top: 150px;
    margin-left: 405px;
}
.sliderText{
    color: black;
}
.sliderBlock{
   display: flex;
   justify-content: space-between;
 
}
.sliderText{
    font-family: 'Oswald-Regular';
    font-size:30px;
}
.lineDecor{
    margin-right: 40px;
    width: 100px;
    padding-top:20px ;
}
.sliderButton{
    width:55px;
    height: 55px;
    border: 1px solid #005BC1 ;
    text-align: center;
    padding-top: 15px;
}
.Imgline{
    transform:rotateY(180deg);
}
.btn{
    display: flex;
}
.sliderBlockTitle{
    display: flex;
}
.card{
    display: flex;
    align-items: flex-end;
}
.card__two{
    display: flex;
    align-items: flex-end;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}
.card__img{
    width: 540px;
}
.block__text{
    width: 250px;
    background-color: white;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -300px;
    margin-bottom: 35px;
}
.text__title{
    color: black;
    font-size: 18;
    font-family:'Oswald-Regular';
}
.text__subtitle{
    color: black;
    font-size: 14px;
    font-family: 'OpenSans-Light';
    margin-top: 14px;
}